.alert_holder {
  margin: -16px;

  .alert-link {
    font-weight: normal;
  }
}
.no-ssh-key-message {
  background-color: #f28d35;
  margin-bottom: 16px;
}
.new_project,
.edit_project {
  fieldset.features {
    .control-label {
      font-weight: normal;
    }
  }
}

.project-edit-content {
  padding: 7px;
}

.project-name-holder {
  .help-inline {
    vertical-align: top;
    padding: 7px;
  }
}

.project-home-panel {
  text-align: center;
  background: #f7f8fa;
  margin: -$gl-padding;
  padding: $gl-padding;
  padding: 44px 0 17px 0;

  .project-identicon-holder {
    margin-bottom: 16px;

    .avatar, .identicon {
      margin: 0 auto;
      float: none;
    }

    .identicon {
      @include border-radius(50%);
    }
  }

  .project-home-dropdown {
    margin: 13px 0px 0;
  }

  .notifications-btn {
    .fa-bell {
      margin-right: 6px;
    }

    .fa-angle-down {
      margin-left: 6px;
    }
  }

  .project-home-desc {
    h1 {
      color: #313236;
      margin: 0;
      margin-bottom: 6px;
      font-size: 23px;
      font-weight: normal;
    }

    p {
      padding: 0 $gl-padding;
      color: #5c5d5e;
    }
  }

  .git-clone-holder {
    max-width: 498px;

    .form-control {
      background: #FFF;
      font-size: 14px;
      height: 42px;
      margin-left: -1px;
    }
  }

  .visibility-level-label {
    color: $gray;
    i {
      color: inherit;
    }
  }

  .input-group {
    display: inline-table;
    position: relative;
    top: 17px;
    margin-bottom: 44px;
  }

  .project-repo-buttons {
    margin-top: 12px;
    margin-bottom: 0px;
  }

  .btn {
    @include btn-gray;

    .count {
      display: inline-block;
    }
  }
}

.split-one {
  display: inline-table;
  margin-right: 12px;

  a {
    margin: -1px !important;
  }
}

.git-clone-holder {
  .project-home-dropdown + & {
    margin-right: 45px;
  }

  .form-control {
    cursor: auto;
    @extend .monospace;
    background: #FAFAFA;
    width: 101%;
  }

  .input-group-addon {
    background: #f7f8fa;

    &.git-protocols {
      padding: 0;
      border: none;

      .input-group-btn:last-child > .btn {
        @include border-radius-right(0);

        border-left: 1px solid #c6cacf;
        margin-left: -2px !important;
      }
    }
  }
}

.projects-search-form {

  .input-group .form-control {
    height: 42px;
  }
}

.input-group-btn {
  .btn {
    @include btn-gray;
    @include btn-middle;

    &:hover {
      outline: none;
    }

    &:focus {
      outline: none;
    }

    &:active {
      outline: none;
    }
  }

  .active {
    @include box-shadow(inset 0 0 4px rgba(0, 0, 0, 0.12));

    border: 1px solid #c6cacf !important;
    background-color: #e4e7ed !important;
  }

  .btn-green {
    @include btn-green
  }

}

.split-repo-buttons {
  display: inline-table;
  margin: 0 12px 0 12px;

  .btn{
    @include btn-gray;
    @include btn-default;
  }

  .dropdown-toggle  {
    margin: -5px;
  }

  .update-mirror-button {
    margin-right: -1px;
  }
}

#notification-form {
  margin-left: 5px;
}

.dropdown-new {
  margin-left: -5px;
}

.open > .dropdown-new.btn {
  @include box-shadow(inset 0 0 4px rgba(0, 0, 0, 0.12));

  border: 1px solid #c6cacf !important;
  background-color: #e4e7ed !important;
  text-transform: uppercase;
  color: #313236 !important;
  font-size: 13px;
  font-weight: 600;
}

.dropdown-menu {
  @include box-shadow(rgba(76, 86, 103, 0.247059) 0px 0px 1px 0px, rgba(31, 37, 50, 0.317647) 0px 2px 18px 0px);
  @include border-radius (0px);

  border: none;
  padding: 16px 0;
  font-size: 14px;
  font-weight: 100;

  li a {
    color: #5f697a;
    line-height: 30px;

    &:hover {
      background-color: #3084bb !important;
    }
  }

  i {
    margin-right: 8px;
  }
}

.project-visibility-level-holder {
  .radio {
    margin-bottom: 10px;

    i {
      margin: 2px 0;
      font-size: 20px;
    }

    .option-title {
      font-weight: normal;
      display: inline-block;
      color: #313236;
    }

    .option-descr {
      margin-left: 29px;
      color: #54565b;
    }
  }
}

.save-project-loader {
  margin-top: 50px;
  margin-bottom: 50px;
  color: #555;
}

ul.nav.nav-projects-tabs {
  @extend .nav-tabs;

  padding-left: 8px;

  li {
    a {
      padding: 6px 25px;
      margin-top: 2px;
      border-color: #DDD;
      background-color: #EEE;
      text-shadow: 0 1px 1px white;
      color: #555;
    }
    &.active {
      a {
        font-weight: bold;
      }
    }
  }
}

.project_member_row form {
  margin: 0px;
}

.transfer-project .select2-container {
  min-width: 200px;
}

.deploy-project-label {
  margin: 1px;
}

.vs-public {
  color: $gl-primary;
}

.vs-internal {
  color: $gl-warning;
}

.vs-private {
  color: $gl-success;
}

.breadcrumb.repo-breadcrumb {
  padding: 0;
  line-height: 42px;
  background: transparent;
  border: none;
  margin: 0;

  > li + li:before {
    padding: 0 3px;
    color: #999;
  }
}

.fork-namespaces {
  .fork-thumbnail {
    text-align: center;
    margin-bottom: $gl-padding;

    .caption {
      padding: $gl-padding 0;
      min-height: 30px;
    }

    img {
      @include border-radius(50%);
      max-width: 100px;
    }
  }
}

table.table.protected-branches-list tr.no-border {
  th, td {
    border: 0;
  }
}

.project-import .btn {
  float: left;
  margin-right: 10px;
}

.project-stats {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 0;
  padding-top: 10px;
  padding-bottom: 4px;

  ul.nav-pills {
    display:inline-block;
  }

  .nav-pills li {
    display:inline;
  }

  .nav > li > a {
    @include btn-default;
    @include btn-gray;

    background-color: transparent;
    border: 1px solid #f7f8fa;
    margin-left: 12px;
  }

  li {
    display:inline;
  }

  a {
    float:left;
    font-size: 17px;
  }

  li.missing a {
    color: #5a6069;
    border: 1px dashed #dce0e5;

    &:hover {
      background-color: #f0f2f5;
    }
  }
}

pre.light-well {
  border-color: #f1f1f1;
}

.projects-search-form {
  margin: -$gl-padding;
  background-color: #f8fafc;
  padding: $gl-padding;
  margin-bottom: 0px;
  border-top: 1px solid #e7e9ed;
  border-bottom: 1px solid #e7e9ed;
}

.git-empty {
  margin: 0 7px 0 7px;

  h5 {
    color: #5c5d5e;
  }

  .light-well {
    @include border-radius (2px);

    color: #5b6169;
    font-size: 13px;
    line-height: 1.6em;
  }
}

.project-footer {
  margin-top: 20px;

  .btn-remove {
    @include btn-middle;
    @include btn-red;

    float: left !important;
  }
}

/*
 * Projects list rendered on dashboard and user page
 */

.projects-list {
  @include basic-list;

  .project-row {
    padding: $gl-padding;
    border-color: $table-border-color;
    margin-left: -$gl-padding;
    margin-right: -$gl-padding;

    &.no-description {
      .project {
        line-height: 44px;
      }
    }

    .project-full-name {
      @include str-truncated;
      font-weight: 600;
      color: #4c4e54;
    }

    .project-controls {
      float: right;
      color: $gl-gray;
      line-height: 45px;
      color: #7f8fa4;

      a:hover {
        text-decoration: none;
      }
    }

    .project-description {
      color: #7f8fa4;

      p {
        @include str-truncated;
        margin-bottom: 0;
        color: #7f8fa4;
      }
    }
  }

  .bottom {
    padding-top: $gl-padding;
    padding-bottom: 0;
  }
}

.panel .projects-list li {
  padding: 10px 15px;
  margin: 0;
}

.project-show-activity {
  .activity-filter-block {
    margin-top: -1px;
  }
}

.project-last-commit {
  margin: 0 7px;

  .ci-status {
    margin-right: 16px;
  }

  .commit-row-message {
    color: $gl-gray;
  }

  .commit_short_id {
    margin-right: 5px;
    color: $gl-link-color;
    font-weight: 600;
  }

  .commit-author-link {
    margin-left: 7px;
    text-decoration: none;
    .avatar {
      float: none;
      margin-right: 4px;
    }

    .commit-author-name {
      font-weight: 600;
    }
  }
}

.project-show-readme .readme-holder {
  margin-left: -$gl-padding;
  margin-right: -$gl-padding;
  padding: ($gl-padding + 7px);
  border-top: 0;

  .edit-project-readme {
    z-index: 100;
    position: relative;
  }
}